@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-paralelipedo {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 0.625 = 62.5% (browser default) = 62.5*/
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
